@layer base {
  .'warm-dawn' {
    --background: 30 10% 97%;
    --foreground: 0 0% 30%;
    --card: 30 10% 97%;
    --card-foreground: 0 0% 30%;
    --popover: 30 10% 97%;
    --popover-foreground: 0 0% 30%;
    --primary: 30 10% 75%;
    --primary-foreground: 0 0% 20%;
    --secondary: 140 10% 75%;
    --secondary-foreground: 0 0% 30%;
    --muted: 30 10% 97%;
    --muted-foreground: 0 0% 50%;
    --accent: 15 20% 70%;
    --accent-foreground: 0 0% 30%;
    --destructive: 15 60% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 10% 92%;
    --input: 30 10% 92%;
    --ring: 0 0% 30%;
    --radius: 0.5rem;
  }
  .dark .'warm-dawn' {
    --background: 30 20% 18%;
    --foreground: 30 10% 92%;
    --card: 30 20% 23%;
    --card-foreground: 30 10% 92%;
    --popover: 30 20% 23%;
    --popover-foreground: 30 10% 92%;
    --primary: 30 15% 80%;
    --primary-foreground: 0 0% 20%;
    --secondary: 140 15% 85%;
    --secondary-foreground: 30 10% 92%;
    --muted: 30 20% 23%;
    --muted-foreground: 30 10% 75%;
    --accent: 15 25% 75%;
    --accent-foreground: 30 10% 92%;
    --destructive: 15 70% 70%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 20% 35%;
    --input: 30 20% 35%;
    --ring: 0 0% 85%;
  }
}